/* Style the form container */
.form-container {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    length: 50px;
}

/* Style the form label */
.form-label {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #222831;
}

/* Style the date input */
.date-input {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    border: 2px solid #333;
    border-radius: 10px;
    margin-top: 10px;
    outline: none;
}

/* Style the submit button */
.submit-button {
    background-color: #c50000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

/* Style the submit button on hover */
.submit-button:hover {
    background-color: #8f1d14;
}

/* Reset margin and padding for the table and its cells */
.table, .table th, .table td {
    margin: 0;
    padding: 0;
}

/* Style the table */
.table {
    font-size: 18px;
    width: 80%; /* Adjust table width as needed */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
    border: 1px solid #757a79;
    background-color: #fff;
}

/* Style table header */
.table th {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}

/* Style table rows */
.table tr {
    border-bottom: 1px solid #c1c0b9;
}

/* Style table data cells */
.table td {
    padding: 10px;
    border: 1px solid #c1c0b9;
}

/* Center the text in home team, score, and away team columns */
.team-cell {
    text-align: center;
    padding: 0;
    border: none;
}

/* Style the league title (if it's in a separate row) */
.league-title {
    text-align: left !important;
    background-color: #fff;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #000; /* Fix the league title line and make it 2px thick */
}

/* Style the home team logo */
.team-cell.home-team img {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
}

/* Style the home team text */
.team-cell.home-team {
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    position: relative;
}

/* Style the match status within home team */
.match-status {
    font-size: 10px !important;  /* Adjust the font size as needed */
    position: absolute;
    top: 0;
    left: 0; /* Position it in the corner on the left side */
    background-color: #c50000;
    color: #fff;
    padding: 3px 6px; /* Adjust the padding as needed */
    border-radius: 6px;
}

/* Style the score column */
.team-cell.score {
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
    font-weight: bold;
}

/* Style the away team logo */
.team-cell.away-team img {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
}

/* Style the away team text */
.team-cell.away-team {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}
