.table-head-container {
    border-top:none ;
    padding-top: 15px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background-color: #3a0b58;

}

.subbanner {
  background-image: url('https://www.prodirectsport.com/-/media/prodirect/project/en/soccer/list-page-banners---fredhopper/equipment/footballs/puma/fh-d-puma-efl-ball-020523.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
  background-size: cover;
  background-position: center;
  color: #fff; /* Text color */
  text-align: right;
  padding: 0px 0; /* Adjust the padding as needed */
}


h1{
    color: black;
    font-size: 25px;
    padding-bottom: 10px;
}

/* Style the header and navbar (assuming they exist in the included files) */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}


/* Style the subbanner */

.caption {
  font-size: 36px;
  font-weight: bold;
}

/* Style the league links */
.leagues {
  text-align: center;
  margin: 12px 0;
  margin-bottom: -55px;
}

.ligtable {
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
}

/* Style the league tables */
.table-container {
  display: none;
    padding-bottom: 20px;
    padding-left:250px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: center;

}

th {
  background-color: #333;
  color: #fff;
}

/* Add some hover effect for the league links */
.ligtable:hover {
  background-color: #333;
  color: #3fc323;
  transition: 0.3s;
}

/* Footer styles (modify as needed) */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.league-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin: 10px; /* Adjust margins as needed */
    /* Other styles */
}

.common-cell,
.common-cell.gs-header,
.common-cell.gc-header,
.common-cell.gd-header,
.common-cell.points-header{
    width: -15%;
}

.common-cell.position-header{
width: 20px;
}
.a:hover, a:focus{
text-decoration: none;
}
