.table-head-container {
    border-top:none ;
    padding-top: 15px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background-color: #3a0b58;

}

.subbanner {
  background-image: url('https://www.prodirectsport.com/-/media/prodirect/project/en/soccer/list-page-banners---fredhopper/equipment/footballs/puma/fh-d-puma-efl-ball-020523.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
  background-size: cover;
  background-position: center;
  color: #fff; /* Text color */
  text-align: right;
  padding: 0px 0; /* Adjust the padding as needed */
}


h1{
    color: black;
    font-size: 25px;
    padding-bottom: 10px;
}

/* Style the header and navbar (assuming they exist in the included files) */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}


/* Style the subbanner */

.caption {
  font-size: 36px;
  font-weight: bold;
}

/* Style the league links */
.leagues {
  text-align: center;
  margin: 12px 0;
  margin-bottom: -55px;
}

.ligtable {
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
}

/* Style the league tables */
.table-container {
  display: none;
    padding-bottom: 20px;
    padding-left:275px;
    width: fit-content;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border-bottom: inset;
}

th, td {
  padding: 8px;
  text-align: center;

}

th {
     align-items: center;
    background-color: black;
    color: white;
    font-size: 11px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* Add some hover effect for the league links */
.ligtable:hover {
  background-color: #333;
  color: #3fc323;
  transition: 0.3s;
}

/* Footer styles (modify as needed) */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.league-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin: 10px; /* Adjust margins as needed */
    /* Other styles */
}

.common-cell,
.common-cell.pos,
.common-cell.gs-header,
.common-cell.gc-header,
.common-cell.gd-header,
.common-cell.points-header{
    width: 32px;
}
.common-cell.club-header{
    width: 736px;
}

.common-cell.position-header{
width: 32px;
}
.a:hover, a:focus{
text-decoration: none;
}
.common-cell.points-header{
width: 20px;
}

#premierleagueTable tr td.common-cell-rank[data-position="1"],
#premierleagueTable tr td.common-cell-rank[data-position="2"],
#premierleagueTable tr td.common-cell-rank[data-position="3"],
#premierleagueTable tr td.common-cell-rank[data-position="4"] {
    background: rgb(0, 70, 130);
    color: white;
}
#premierleagueTable tr td.common-cell-rank[data-position="5"] {
    background: rgb(127, 0, 41);
    color: white;
}  /* Add this closing brace */

#premierleagueTable tr td.common-cell-rank[data-position="18"],
#premierleagueTable tr td.common-cell-rank[data-position="19"],
#premierleagueTable tr td.common-cell-rank[data-position="20"] {
    background: rgb(189, 0, 0);
    color: white;
}

#ligue1Table tr td.common-cell-rank[data-position="1"],
#ligue1Table tr td.common-cell-rank[data-position="2"],
#ligue1Table tr td.common-cell-rank[data-position="3"] {
    background: rgb(0, 70, 130);
    color: white;
}
#ligue1Table tr td.common-cell-rank[data-position="4"] {
    background-color: rgb(30, 168, 236);
    color: white;
}

#ligue1Table tr td.common-cell-rank[data-position="5"] {
    background: rgb(127, 0, 41);
    color: white;
}
#ligue1Table tr td.common-cell-rank[data-position="6"] {
    background-color: rgb(184, 134, 11);
    color: white;
}

#ligue1Table tr td.common-cell-rank[data-position="16"] {
    background-color: rgb(189, 0, 0);
    color: white;
}
#ligue1Table tr td.common-cell-rank[data-position="17"],
#ligue1Table tr td.common-cell-rank[data-position="18"] {
    background-color: rgb(255, 65, 65);
    color: white;
}

#laligaTable tr td.common-cell-rank[data-position="1"],
#laligaTable tr td.common-cell-rank[data-position="2"],
#laligaTable tr td.common-cell-rank[data-position="3"],
#laligaTable tr td.common-cell-rank[data-position="4"] {
    background: rgb(0, 70, 130);
    color: white;
}

#laligaTable tr td.common-cell-rank[data-position="5"] {
    background: rgb(127, 0, 41);
    color: white;
}

#laligaTable tr td.common-cell-rank[data-position="6"] {
    background-color: rgb(184, 134, 11);
    color: white;
}

#laligaTable tr td.common-cell-rank[data-position="18"],
#laligaTable tr td.common-cell-rank[data-position="19"],
#laligaTable tr td.common-cell-rank[data-position="20"] {
    background: rgb(189, 0, 0);
    color: white;
}

#bundesligaTable tr td.common-cell-rank[data-position="1"],
#bundesligaTable tr td.common-cell-rank[data-position="2"],
#bundesligaTable tr td.common-cell-rank[data-position="3"],
#bundesligaTable tr td.common-cell-rank[data-position="4"] {
    background: rgb(0, 70, 130);
    color: white;
}

#bundesligaTable tr td.common-cell-rank[data-position="5"] {
    background: rgb(127, 0, 41);
    color: white;
}

#bundesligaTable tr td.common-cell-rank[data-position="6"] {
    background-color: rgb(184, 134, 11);
    color: white;
}

#bundesligaTable tr td.common-cell-rank[data-position="16"] {
    background: rgb(189, 0, 0);
    color: white;
}

#bundesligaTable tr td.common-cell-rank[data-position="17"],
#bundesligaTable tr td.common-cell-rank[data-position="18"] {
    background-color: rgb(255, 65, 65);
    color: white;
}

#serieaTable tr td.common-cell-rank[data-position="1"],
#serieaTable tr td.common-cell-rank[data-position="2"],
#serieaTable tr td.common-cell-rank[data-position="3"],
#serieaTable tr td.common-cell-rank[data-position="4"] {
    background: rgb(0, 70, 130);
    color: white;
}

#serieaTable tr td.common-cell-rank[data-position="5"] {
    background: rgb(127, 0, 41);
    color: white;
}

#serieaTable tr td.common-cell-rank[data-position="6"] {
    background-color: rgb(184, 134, 11);
    color: white;
}

#serieaTable tr td.common-cell-rank[data-position="18"],
#serieaTable tr td.common-cell-rank[data-position="19"],
#serieaTable tr td.common-cell-rank[data-position="20"] {
    background: rgb(189, 0, 0);
    color: white;
}

.common-cell-rank{
    align-items: center;
    font-size: 14px;
    height: 20px;
    justify-content: center;
    width: 20px;
    font-weight: 700;

}

.tableLegend__row {
    margin-top: 10px;

    align-items: center;
}

.tableLegend__coloredSquare {
    width: 10px; /* Adjust the width as needed for the square */
    height: 10px; /* Adjust the height as needed for the square */
    margin-right: 5px;
}

.champions-league-color {
    background-color: rgb(0, 70, 130); /* Blue color for Champions League */
}

.europa-league-color {
    background-color: rgb(127, 0, 41); /* Define the color for Europa League */
}

.championship-color {
    background-color: rgb(189, 0, 0); /* Define the color for Championship */
}

#laligaTable th {
    background-color: #e44040;
    color: white;
}
#serieaTable th {
background-color: #6767f0;
}

#premierleagueTable th {
    background-color: #161c4b;
}

#bundesligaTable th {
background-color: #dc2525;
}

#ligue1Table th {
    background-color: #201041;
}
