{% include "header.html" %}


	  		<!-- NAVBAR SECTION -->
{% include "navbar.html" %}

    <script type="text/javascript" src="../static/js/modernizr.min.js"></script>


<link rel="stylesheet" type="text/css" href="../static/css/highlights.css">





	<!-- BANNER -->
	<div class="section subbanner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="caption">Football Highlights</div>
				</div>
			</div>
		</div>
	</div>



<!-- YOUR CODE -->
<div class="container">
    <div class="row">
        {% set items_per_page = 12 %}
        {% set current_page = 1 %} {# Change this based on the current page number #}

        {% for i in hg[(current_page - 1) * items_per_page : current_page * items_per_page] %}
            <div class="col-md-4">
                <div class="highlight-box">
                    <iframe width="100%" height="315" src="{{ i.video_link }}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">{{ i.match_name }}</h5>
                        <p class="card-text">{{ i.competition }}</p>
                        <p class="card-text">{{ i.date }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<ul class="pagination" style="margin-left: 50px">
						{% for page_number in page_numbers %}
							{% if page_number == current_page %}
								<li class="active"><a href="#">{{ page_number }}</a></li>
							{% else %}
								<li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>

{% include "footer.html" %}