<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/navbar.css" />

   </head>

	<!-- NAVBAR SECTION -->
	<div class="navbar navbar-main navbar-fixed-top">


        <nav class="navbar-collapse collapse">
			<div class="navbar navbar-main navbar-fixed-top">
		<div class="nav navbar-nav navbar-left">
			<a class="navbar-brand" href="index.html">
			<img src="{{ url_for('static', path='images/test.png') }}" class="logo" alt="Logo">
            </a>
		</div>

        <nav class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html">HOME</a></li>
                    <li><a href="{{url_for('view_news')}}">NEWS</a></li>
                    <li><a href="{{url_for('view_bets')}}">BETS</a></li>
                    <li><a href="matches.html">RESULTS</a></li>
                    <li><a href="{{url_for('view_league_tables')}}">STANDINGS</a></li>
					<li><a href="{{url_for('players_view')}}">STATS</a></li>
					<li ><a href="{{url_for('highlights_view')}}">HIGHLIGHTS</a></li>
					<li><a href="{{url_for('show_livestream_links')}}">LIVESTREAMS</a></li>
                    <li><a href="about.html">ABOUT</a></li>
				</ul>
			</nav>

    </div>
