{% include "header.html" %}


	  		<!-- NAVBAR SECTION -->
{% include "navbar.html" %}

    <script type="text/javascript" src="../static/js/modernizr.min.js"></script>


<link rel="stylesheet" type="text/css" href="../static/css/players.css">
<link rel="stylesheet" type="text/css" href="../static/css/custom.css">





	<!-- BANNER -->
	<div class="section subbanner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="caption">Football Highlights</div>
				</div>
			</div>
		</div>
	</div>



<!-- YOUR CODE -->
<!-- YOUR CODE -->
<div class="container">
    {% set leagues = {} %}  {# Create a dictionary to group players by league #}

    {% for player in players %}
        {% set league_name = player.league_name %}
        {% set league = leagues.get(league_name, []) %}  {# Get the league's player list or create an empty list #}
        {% set _ = league.append(player) %}  {# Append the player to the league's list #}
        {% set _ = leagues.update({league_name: league}) %}  {# Update the dictionary with the league's list #}
    {% endfor %}

    {% for league_name, league_players in leagues.items() %}
        <h2>{{ league_name }}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Age</th>
                    <th>Club</th>
                    <th>Nationality</th>
                    <th>Goals</th>
                    <th>Assists</th>
                </tr>
            </thead>
            <tbody>
                {% for player in league_players %}
                    <tr>
                        <td>{{ player.rank }}</td>
                        <td>
                            <img src="{{ player.player_image_url }}" alt="{{ player.player_name }}" class="player-image-small">
                            {{ player.player_name }}
                        </td>
                        <td>{{ player.age }}</td>
                        <td>{{ player.club_name }}</td>
                        <td>{{ player.nationality }}</td>
                        <td>{{ player.goals }}</td>
                        <td>{{ player.assists }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>

<style>
    /* Add CSS for small player images */
    .player-image-small {
        width: 50px;  /* Adjust the width to your preferred size */
        height: auto;
    }
</style>


<!-- Pagination -->
<ul class="pagination" style="margin-left: 50px">
						{% for page_number in page_numbers %}
							{% if page_number == current_page %}
								<li class="active"><a href="#">{{ page_number }}</a></li>
							{% else %}
								<li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>


{% include "footer.html" %}