{% include "header.html" %}

{% include "navbar.html" %}

    <script type="text/javascript" src="../static/js/modernizr.min.js"></script>


<link rel="stylesheet" type="text/css" href="../static/css/standings.css">

	<!-- BANNER -->
	<div class="section subbanner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="caption">League tables</div>
				</div>
			</div>
		</div>
	</div>
<a href="#" onclick="showTable('premierleagueTable'); return false;">Premier league</a>
<a href="#" onclick="showTable('laligaTable'); return false;">Laliga</a>
    <a href="#" onclick="showTable('serieaTable'); return false;">Serie A</a>
    <a href="#" onclick="showTable('bundesligaTable'); return false;">Bundeliga</a>
    <a href="#" onclick="showTable('ligue1Table'); return false;">Ligue-1</a>

    <div class="table-container" id="laligaTable" style="display: block;">
        <h1>Laliga</h1>
        <table>
    <tr>
        <th>Position</th>
        <th>Club</th>
        <th>Plays</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Losses</th>
        <th>GS</th>
        <th>GC</th>
        <th>GD</th>
        <th>Points</th>
    </tr>
    {% for a in league_table[:20] %}
    <tr>
        <td>{{ a.position }}</td>
        <td>{{ a.club }}</td>
        <td>{{ a.plays }}</td>
        <td>{{ a.wins }}</td>
        <td>{{ a.draws }}</td>
        <td>{{ a.losses }}</td>
        <td>{{ a.goalsscored }}</td>
        <td>{{ a.goalsconceded }}</td>
        <td>{{ a.goaldifference }}</td>
        <td>{{ a.points }}</td>
    </tr>
    {% endfor %}
</table>
    </div>

    <div class="table-container" id="bundesligaTable">
        <h1>Bundesliga</h1>
        <table>
             <tr>
        <th>Position</th>
        <th>Club</th>
        <th>P</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GS</th>
        <th>GC</th>
        <th>GD</th>
        <th>Points</th>
    </tr>
    {% for a in league_table[20:38] %}
    <tr>
        <td>{{ a.position }}</td>
        <td>{{ a.club }}</td>
        <td>{{ a.plays }}</td>
        <td>{{ a.wins }}</td>
        <td>{{ a.draws }}</td>
        <td>{{ a.losses }}</td>
        <td>{{ a.goalsscored }}</td>
        <td>{{ a.goalsconceded }}</td>
        <td>{{ a.goaldifference }}</td>
        <td>{{ a.points }}</td>
    </tr>
    {% endfor %}
        </table>
    </div>

    <div class="table-container" id="ligue1Table">
        <h1>Ligue-1</h1>
        <table>
            <tr>
        <th>Position</th>
        <th>Club</th>
        <th>P</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GS</th>
        <th>GC</th>
        <th>GD</th>
        <th>Points</th>

    </tr>
    {% for a in league_table[38:56] %}
    <tr>
        <td>{{ a.position }}</td>
        <td>{{ a.club }}</td>
        <td>{{ a.plays }}</td>
        <td>{{ a.wins }}</td>
        <td>{{ a.draws }}</td>
        <td>{{ a.losses }}</td>
        <td>{{ a.goalsscored }}</td>
        <td>{{ a.goalsconceded }}</td>
        <td>{{ a.goaldifference }}</td>
        <td>{{ a.points }}</td>
    </tr>
    {% endfor %}
        </table>
    </div>
    <div class="table-container" id="serieaTable">
        <h1>Serie A</h1>
        <table>
             <tr>
        <th>Position</th>
        <th>Club</th>
        <th>P</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GS</th>
        <th>GC</th>
        <th>GD</th>
        <th>Points</th>
    </tr>
    {% for a in league_table[56:76] %}
    <tr>
        <td>{{ a.position }}</td>
        <td>{{ a.club }}</td>
        <td>{{ a.plays }}</td>
        <td>{{ a.wins }}</td>
        <td>{{ a.draws }}</td>
        <td>{{ a.losses }}</td>
        <td>{{ a.goalsscored }}</td>
        <td>{{ a.goalsconceded }}</td>
        <td>{{ a.goaldifference }}</td>
        <td>{{ a.points }}</td>
    </tr>
    {% endfor %}
        </table>
    </div>
    <div class="table-container" id="premierleagueTable">
        <h1>Premierleague</h1>
        <table>
             <tr>
        <th>Position</th>
        <th>Club</th>
        <th>P</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GS</th>
        <th>GC</th>
        <th>GD</th>
        <th>Points</th>
    </tr>
    {% for a in league_table[76:] %}
    <tr>
        <td>{{ a.position }}</td>
        <td>{{ a.club }}</td>
        <td>{{ a.plays }}</td>
        <td>{{ a.wins }}</td>
        <td>{{ a.draws }}</td>
        <td>{{ a.losses }}</td>
        <td>{{ a.goalsscored }}</td>
        <td>{{ a.goalsconceded }}</td>
        <td>{{ a.goaldifference }}</td>
        <td>{{ a.points }}</td>
    </tr>
    {% endfor %}
     </table>
    </div>
</table>

    <script>
        showTable('premierleagueTable');

        function showTable(tableId) {
            // Hide all tables
            const tables = document.querySelectorAll('.table-container');
            tables.forEach(table => {
                table.style.display = 'none';
            });

            // Show the selected table
            const selectedTable = document.getElementById(tableId);
            if (selectedTable) {
                selectedTable.style.display = 'block';
            }
        }
    </script>



{% include "footer.html" %}


